<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>436471020479-2ufju3a54kcutd943trgmo4qr5m0vsjd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.436471020479-2ufju3a54kcutd943trgmo4qr5m0vsjd</string>
	<key>API_KEY</key>
	<string>AIzaSyCmX9DMfedJUqmBzxgM626t6srxTmo_y34</string>
	<key>GCM_SENDER_ID</key>
	<string>436471020479</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Kingsley-Charles.InstaClone</string>
	<key>PROJECT_ID</key>
	<string>instaclone-8ed90</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclone-8ed90.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:436471020479:ios:04133704c892968da83f0a</string>
</dict>
</plist>